In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
import pandas as pd
import shutil
import os
import datetime 
#
import re

In [ ]:
# count the files

len(os.listdir('/content/drive/MyDrive/08_Sales/01_Sales_Reports/C_Zomato/New Sheet Format files After Oct 29th 2022'))

78

In [ ]:
# Main Consolidating all files
count=0
data=pd.DataFrame()
for file in os.listdir('/content/drive/MyDrive/08_Sales/01_Sales_Reports/C_Zomato/New Sheet Format files After Oct 29th 2022'):

  get_excel=pd.ExcelFile('/content/drive/MyDrive/08_Sales/01_Sales_Reports/C_Zomato/New Sheet Format files After Oct 29th 2022/'+file)
  count+=1
  read_excel=pd.read_excel(get_excel,'Order level',skiprows=range(6))
  read_excel.insert(0,'Source_files',file,allow_duplicates=False,)
  data=pd.concat([data,read_excel])

print(count)

78

In [ ]:
data.head(2)

,Source_files,S.No.,Order ID,Order Date,Week No.,Res. name,Res. ID,Discount Construct,Mode of payment,Order status (Delivered/ Cancelled/ Rejected),...,Net Additions \n(cancellation refund),Order level Payout\n(B) - (C) + (D) - (7),Settlement status,Settlement date,Bank UTR,Unsettled Amount,Customer ID,Order status (Delivered/ Cancelled),Cancellation Reason,Cancelled State\n(Order status at the time it was cancelled)
0,Zomato_Settlement_Report_20017442_14 Nov 2022_...,1,4460302362,2022-11-17 12:46:53,46,Mann Food Court,20017442,50% off up to ₹100 (2021-10-22 - 2025-01-01),ONLINE,DELIVERED,...,0.0,59.80,settled,2022-11-23 00:00:00.0,CITIN22369350680,0.0,c8980f6dbd61da1a2f569b0d30fac2a94779f8aa326878...,NaN,NaN,NaN
1,Zomato_Settlement_Report_20017442_14 Nov 2022_...,2,4467402209,2022-11-18 13:03:13,46,Mann Food Court,20017442,40% off up to ₹80 (2021-11-17 - 2023-01-01),ONLINE,DELIVERED,...,0.0,126.65,settled,2022-11-23 00:00:00.0,CITIN22369350680,0.0,d5048338ffc917f243a42b47b6b246a58d709658768338...,NaN,NaN,NaN

In [ ]:
# # seperating not needed columns

needed_headers=['Source_files', 'Order ID', 'Order Date', 'Week No.', 'Res. name','Subtotal (items total)', 'Packaging charge', 'Delivery charge', 'Restaurant discount [Promo]', 'Restaurant discount [Salt, Freebie, Pro & other discounts]', 'Total GST collected from customers', 'GST retained by Zomato - Amount of tax paid by Zomato under section 9(5)', 'GST to be paid by Restaurant partner to Govt.','Commission value \n[ (10) * (11) ]', 'Payment mechanism fee', 'Logistics charge', 'Taxes on Zomato fees\n[(12)+(13) +(14)] * 18%','TDS 194O amount', 'Order level Payout\n(B) - (C) + (D) - (7)','Net Deductions\n[(12)+(13)+(14)+(17)+(18)+(19)+(20)+(21)+(22)+(23)+(24)+(25)]'',Net Additions \n(cancellation refund)',  'Unsettled Amount']

l=[]

headers = list(data.head(0))

for header in headers:
  if header not in needed_headers:
    l.append(header)
#print(l,end='')

# removing not needed columns
data.drop(columns=['S.No.', 'Res. ID', 'Discount Construct', 'Mode of payment', 'Order status (Delivered/ Cancelled/ Rejected)', 'Cancellation policy\n(% Amount refunded back to restaurant partner)', 'Cancellation/ Rejection Reason', 'Cancelled/ Rejected State\n(Order status at the time it was cancelled/ rejected)', 'Order type', 'Delivery State code', 'Net bill value \n[(1) + (2) + (3) - (4) - (5)]', 'Gross sales \n[(A) + (6)]', 'Total Merchant Amount\n[(B) - (7)]', 'Commissionable amount \n[(B) - (6) - (3)]','Commission %', 'Applicable amount for TCS', 'Applicable amount for 9(5)', 'Tax collected at source', 'TCS IGST amount', 'Customer Compensation/Recoupment', 'Delivery Charges Recovery', 'Amount received in cash (on self delivery orders)', 'Credit note/(Debit Note) adjustment', 'Promo recovery adjustment', 'Net Deductions\n[(12)+(13)+(14)+(17)+(18)+(19)+(20)+(21)+(22)+(23)+(24)+(25)]', 'Settlement status', 'Settlement date', 'Bank UTR', 'Customer ID', 'Order status (Delivered/ Cancelled)', 'Cancellation Reason', 'Cancelled State\n(Order status at the time it was cancelled)'],inplace=True)

In [ ]:
# after removing not needed columns
data.head(2)

,Source_files,Order ID,Order Date,Week No.,Res. name,Subtotal (items total),Packaging charge,Delivery charge,Restaurant discount [Promo],"Restaurant discount [Salt, Freebie, Pro & other discounts]",...,GST retained by Zomato - Amount of tax paid by Zomato under section 9(5),GST to be paid by Restaurant partner to Govt.,Commission value \n[ (10) * (11) ],Payment mechanism fee,Logistics charge,Taxes on Zomato fees\n[(12)+(13) +(14)] * 18%,TDS 194O amount,Net Additions \n(cancellation refund),Order level Payout\n(B) - (C) + (D) - (7),Unsettled Amount
0,Zomato_Settlement_Report_20017442_14 Nov 2022_...,4460302362,2022-11-17 12:46:53,46,Mann Food Court,149.0,10.0,0.0,74.5,0.0,...,4.22,0.0,18.59,1.63,0.0,3.64,0.85,0.0,59.80,0.0
1,Zomato_Settlement_Report_20017442_14 Nov 2022_...,4467402209,2022-11-18 13:03:13,46,Mann Food Court,249.0,10.0,0.0,80.0,0.0,...,8.96,0.0,39.38,3.46,0.0,7.71,1.79,0.0,126.65,0.0

### ADDING STANDARD COLUMS

In [ ]:
#'B_Discount Given'
data['B_Discount Given']=data['Restaurant discount [Promo]']+ data['Restaurant discount [Salt, Freebie, Pro & other discounts]']

In [ ]:
#H_Gross Revenue Incl Taxes
data['H_Gross Revenue Incl Taxes'] = data['Subtotal (items total)'] - data['B_Discount Given'] + data['Total GST collected from customers']+data['Packaging charge']+data['Delivery charge']

In [ ]:
# I_Gross Revenue Excl Taxes
data['I_Gross Revenue Excl Taxes'] =data['Subtotal (items total)'] - data['B_Discount Given'] - data['Total GST collected from customers']+data['Packaging charge']+data['Delivery charge']

In [ ]:
# J_Commission

data['J_Commission']=data['Commission value \n[ (10) * (11) ]']+data['Taxes on Zomato fees\n[(12)+(13) +(14)] * 18%']

In [ ]:
# K_Long Distance Fees
data['K_Long Distance Fees']=0

In [ ]:
# L_Advertising Fees
data['L_Advertising Fees']=0

In [ ]:
# F_Rounded off
data['F_Rounded off']=0

In [ ]:
# F_Waived off
data['F_Waived off']=0

In [ ]:
# O_Other Deductions
data['O_Other Deductions']=data['Payment mechanism fee']+data['Logistics charge']

In [ ]:
#@title  creating synthetic columns
data["A_Subtotal"]=data["Subtotal (items total)"]

data["C_Packaging Charges"]=data["Packaging charge"]

data["D_Delivery Service Charges"]=data["Delivery charge"]

data["E_Tax Collected"]=data["Total GST collected from customers"]

data["E_GST Paid by Aggregator"]=data["GST retained by Zomato - Amount of tax paid by Zomato under section 9(5)"]

data["E_GST Paid by Merchant"]=data["GST to be paid by Restaurant partner to Govt."]

data["M_TDS on Revenue"]=data["TDS 194O amount"]

data["N_Customer Refunds"]=data["Net Additions \n(cancellation refund)"]

In [ ]:
data.head(2)

,Source_files,Order ID,Order Date,Week No.,Res. name,Subtotal (items total),Packaging charge,Delivery charge,Restaurant discount [Promo],"Restaurant discount [Salt, Freebie, Pro & other discounts]",...,F_Waived off,O_Other Deductions,A_Subtotal,C_Packaging Charges,D_Delivery Service Charges,E_Tax Collected,E_GST Paid by Aggregator,E_GST Paid by Merchant,M_TDS on Revenue,N_Customer Refunds
0,Zomato_Settlement_Report_20017442_14 Nov 2022_...,4460302362,2022-11-17 12:46:53,46,Mann Food Court,149.0,10.0,0.0,74.5,0.0,...,0,1.63,149.0,10.0,0.0,4.22,4.22,0.0,0.85,0.0
1,Zomato_Settlement_Report_20017442_14 Nov 2022_...,4467402209,2022-11-18 13:03:13,46,Mann Food Court,249.0,10.0,0.0,80.0,0.0,...,0,3.46,249.0,10.0,0.0,8.96,8.96,0.0,1.79,0.0

### %% Order Date formating from here
bold text

In [ ]:
# spliting order date column
order_datetime=list(data['Order Date'].str.split(' '))

In [ ]:
order_datetime[1]

['2022-11-18', '13:03:13']

In [2]:
# appedning date from order date colm
order_date_seperated=[]
for date in order_datetime:
  order_date_seperated.append(date[0])
#print(order_date_seperated)

In [ ]:
# spliting order date to day month and year
splitted_order_date_seperated=[]
for date in order_date_seperated:
  splitted_order_date_seperated.append(date.split("-"))
splitted_order_date_seperated[1]

['2022', '11', '18']

In [ ]:
# now creating new orddate colm
new_orderdate=[]
for new_date in splitted_order_date_seperated:
  new_orderdate.append(new_date[2]+"-"+new_date[1]+"-"+new_date[0])
new_orderdate[1]

'18-11-2022'

In [ ]:
# Pushing the new order to dataframe i.e data 
data['Order_date'] = new_orderdate

In [ ]:
#

### %% **Order Date formatting Ends Here**

In [ ]:
## now for order time
order_datetime[1]

['2022-11-18', '13:03:13']

In [1]:
order_time_seperated=[]
for time in order_datetime:
  order_time_seperated.append(time[1])
#print(order_time_seperated)

In [ ]:
# Pushing the new order time to dataframe i.e data 

data['order_time']=order_time_seperated

In [ ]:
### $$ converting date time column to datetime

data['Order_date']=pd.to_datetime(data["Order_date"])

#df["Date"] = pd.to_datetime(df["Date"]).dt.strftime('%Y-%m-%d')   # this line no need

### %% Order_time format Ends here

In [ ]:
# $$$ 
# adding month and day column
data['Month']=data['Order_date'].dt.month_name().str.slice(stop=3)

In [ ]:
#adding month year
data['Year']=data['Order_date'].dt.year

In [ ]:
# adding month year
data['Month_Year']=  data['Month']+ '-' + data['Year'].astype(str)

In [ ]:
data.head(2)

,Source_files,Order ID,Order Date,Week No.,Res. name,Subtotal (items total),Packaging charge,Delivery charge,Restaurant discount [Promo],"Restaurant discount [Salt, Freebie, Pro & other discounts]",...,E_Tax Collected,E_GST Paid by Aggregator,E_GST Paid by Merchant,M_TDS on Revenue,N_Customer Refunds,Order_date,order_time,Month,Year,Month_Year
0,Zomato_Settlement_Report_20017442_14 Nov 2022_...,4460302362,2022-11-17 12:46:53,46,Mann Food Court,149.0,10.0,0.0,74.5,0.0,...,4.22,4.22,0.0,0.85,0.0,2022-11-17,12:46:53,Nov,2022,Nov-2022
1,Zomato_Settlement_Report_20017442_14 Nov 2022_...,4467402209,2022-11-18 13:03:13,46,Mann Food Court,249.0,10.0,0.0,80.0,0.0,...,8.96,8.96,0.0,1.79,0.0,2022-11-18,13:03:13,Nov,2022,Nov-2022

In [ ]:
# file save in a specific folder
folder_path='/content/drive/MyDrive/08_Sales/01_Sales_Reports/C_Zomato'
data.to_excel(f'{folder_path}/Zomato_DC_2022.xlsx',index=False)

In [ ]:
data.head(2)

,Source_files,Order ID,Order Date,Week No.,Res. name,Subtotal (items total),Packaging charge,Delivery charge,Restaurant discount [Promo],"Restaurant discount [Salt, Freebie, Pro & other discounts]",...,E_Tax Collected,E_GST Paid by Aggregator,E_GST Paid by Merchant,M_TDS on Revenue,N_Customer Refunds,Order_date,order_time,Month,Year,Month_Year
0,Zomato_Settlement_Report_20017442_14 Nov 2022_...,4460302362,2022-11-17 12:46:53,46,Mann Food Court,149.0,10.0,0.0,74.5,0.0,...,4.22,4.22,0.0,0.85,0.0,2022-11-17,12:46:53,Nov,2022,Nov-2022
1,Zomato_Settlement_Report_20017442_14 Nov 2022_...,4467402209,2022-11-18 13:03:13,46,Mann Food Court,249.0,10.0,0.0,80.0,0.0,...,8.96,8.96,0.0,1.79,0.0,2022-11-18,13:03:13,Nov,2022,Nov-2022
2,Zomato_Settlement_Report_20017442_14 Nov 2022_...,4472380012,2022-11-16 18:46:13,46,Mann Food Court,658.0,20.0,0.0,131.6,0.0,...,27.32,27.32,0.0,5.46,0.0,2022-11-16,18:46:13,Nov,2022,Nov-2022
3,Zomato_Settlement_Report_20017442_14 Nov 2022_...,4472983392,2022-11-14 21:08:34,46,Mann Food Court,189.0,10.0,0.0,94.5,0.0,...,5.22,5.22,0.0,1.05,0.0,2022-11-14,21:08:34,Nov,2022,Nov-2022
4,Zomato_Settlement_Report_20017442_14 Nov 2022_...,4473408460,2022-11-16 20:25:50,46,Mann Food Court,249.0,20.0,0.0,100.0,0.0,...,8.46,8.46,0.0,1.69,0.0,2022-11-16,20:25:50,Nov,2022,Nov-2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,Zomato_Settlement_Report_20392581_19 Dec 2022_...,4564437593,2022-12-25 11:21:35,51,Grill Factory,228.0,15.0,0.0,64.0,0.0,...,8.96,8.96,0.0,1.79,0.0,2022-12-25,11:21:35,Dec,2022,Dec-2022
138,Zomato_Settlement_Report_20392581_19 Dec 2022_...,4565146292,2022-12-25 23:34:38,51,Grill Factory,298.0,15.0,0.0,50.0,0.0,...,13.16,13.16,0.0,2.63,0.0,2022-12-25,23:34:38,Dec,2022,Dec-2022
139,Zomato_Settlement_Report_20392581_19 Dec 2022_...,4565256052,2022-12-25 23:09:44,51,Grill Factory,198.0,15.0,0.0,0.0,0.0,...,10.66,10.66,0.0,2.13,0.0,2022-12-25,23:09:44,Dec,2022,Dec-2022
140,Zomato_Settlement_Report_20392581_19 Dec 2022_...,4565640292,2022-12-25 19:06:26,51,Grill Factory,498.0,10.0,0.0,0.0,0.0,...,25.40,25.40,0.0,5.08,0.0,2022-12-25,19:06:26,Dec,2022,Dec-2022
141,Zomato_Settlement_Report_20392581_19 Dec 2022_...,4566581632,2022-12-25 22:55:07,51,Grill Factory,228.0,15.0,0.0,64.0,0.0,...,8.96,8.96,0.0,1.79,0.0,2022-12-25,22:55:07,Dec,2022,Dec-2022