In [1]:
#@title Connecting to google drive (Before Running Main Code Connect to Drive)ðŸ¥‡
# Mount Google Drive to access files
from google.colab import drive
drive.mount('/content/drive/')

# # Authenticate Google Drive API
from google.colab import auth
from google.auth import default
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
import gspread
auth.authenticate_user() 
creds, _ = default() 
gc = gspread.authorize(creds) 
import gspread_dataframe as gd



import pandas as pd
import shutil
import os  
import datetime
import glob
import re


import warnings
warnings.filterwarnings('ignore')

Mounted at /content/drive/

## NEw format

In [2]:
#@title Main Code (2023)

path='/content/drive/MyDrive/01_Sales_Reports/C_Zomato/2023'  #paste ur path link here




# ********************************************************** MAIN CODE *************************************************************************

count=0
_2023_data=pd.DataFrame()


#for root, dirs, files in os.walk(path):
for root , dir,files in  os.walk(path):
  for file in files:
    get_excel=pd.ExcelFile(f'{root}/'+file)
    count+=1
    payout_breakup=pd.read_excel(get_excel,'Payout breakup',skiprows=range(4))
    payout_breakup.insert(0,'Source_files',file,allow_duplicates=False)

    #df2=pd.payout_breakup(get_excel,'Order level',skiprows=range(6))
    summary=pd.read_excel(get_excel,'Summary')

    payout_breakup.insert(3,'Payout_Report_Period',summary.iloc[2]['Unnamed: 2'],allow_duplicates=False)
    payout_breakup.insert(1,'Res_id',summary.iloc[3]['Unnamed: 2'],allow_duplicates=False)
    payout_breakup.rename(columns={'Particular':'Particular' },inplace=True)

    payout_breakup.insert(2,'Res_Name',summary.iloc[6]['Unnamed: 2'],allow_duplicates=False)
    _2023_data=pd.concat([_2023_data,payout_breakup])
print(count)



#@title doroping colms
_2023_data.drop(columns=['Unnamed: 0','S.No.'],inplace=True)


#@title droping rows from 'Particular' which have nulls

_2023_data.dropna(axis='index',how='all',subset=['Particular' ,'Delivered Orders','Cancelled/ Rejected Orders','Total'],inplace=True)


#@title adding Particulars_alpa_serials
Particulars_alpa_serials= {'Number of Orders':'A1', 
       'Subtotal (items total)':'A2',
       'Packaging charge':'A3', 
       'Delivery charge':'A4',
       'Restaurant discount [Promo]':'A5',
       'Restaurant discount [Salt, Freebie, Pro & other discounts]':'A6',
       'Net bill value \n[(1) + (2) + (3) - (4) - (5)]':'A7',

       'Total GST collected from customers':'B1',
       'GST retained by Zomato - Amount of tax paid by Zomato under section 9(5)':'B2',
       'GST to be paid by Restaurant partner to Govt.':'B3',
       'Gross Sales\n[ (A) + (6) ]':'B4',

       'Commissionable amount   [(B) - (6) -(3)]':'D1', 
       'Commission value ':'D2',
       'Payment mechanism fee':'D3', 
       'Logistics charge':'D4',
       'Taxes on Zomato fees':'D5',
       'Tax collected at source + TCS IGST amount':'D6', 
       'TDS 194O amount':'D7',
       'Other Order level deductions':'D8',
        'Customer Compensation/Recoupment':'D9',
       'Delivery Charges Recovery':'D10',
       'Credit note/(Debit Note) adjustment':'D11',
       'Promo recovery adjustment':'D12',
       'Amount received in cash (on self delivery orders)':'D13',
       'Pay later Deductions & other Res id Level Deductions \n(Refer to Annexure : "Addition/ Deduction Details")':'D14',
       'Total Deductions \n[ (10)+(11)+(12)+(13)+(14)+(15)+(16)+(17)+(18) ]':'D15',

       'Cancellation Refund (Auto)':'E16',
       'TDS 194 H and other Res id level Additions\n(Refer to Annexure : "Addition/ Deduction Details")':'E17',
       'Total Additions \n[(19) + (20)]':'E18',

       'Net Payout \n[(B) - (C) + (D) - (7)]':'F19', 
       'Amount Settled':'F20',
       'Pending Amount (Will be credited on next pay-out day)':'F21'}

#Particulars_alpa_serials
_2023_data['serial_no']=_2023_data['Particular'].map(Particulars_alpa_serials)


_2023_data.fillna(0,inplace=True)


## ***********************
os.environ['PYTHONWARNINGS'] = 'always::Warning'
pd.options.mode.chained_assignment = None
os.environ['PYTHONWARNINGS'] = '' 
## ***********************

_2023_data.head(2)
# it worked (:

240

,Source_files,Res_id,Res_Name,Payout_Report_Period,Particular,Delivered Orders,Cancelled/ Rejected Orders,Total,Unnamed: 6,serial_no
1,Zomato_Settlement_Report_19461401_23 Jan 2023_...,19461401,Alpha Biryani,23 Jan 2023 - 29 Jan 2023,Number of Orders,88.0,0,88.0,0.0,A1
2,Zomato_Settlement_Report_19461401_23 Jan 2023_...,19461401,Alpha Biryani,23 Jan 2023 - 29 Jan 2023,Subtotal (items total),32190.0,0,32190.0,0.0,A2

In [3]:
#@title Main Code (2022)

path='/content/drive/MyDrive/01_Sales_Reports/C_Zomato/2022/New_Format'  #paste ur path link here




# ********************************************************** MAIN CODE *************************************************************************

count=0
_2022_data=pd.DataFrame()


#for root, dirs, files in os.walk(path):
for root , dir,files in  os.walk(path):
  for file in files:
    get_excel=pd.ExcelFile(f'{root}/'+file)
    count+=1
    payout_breakup=pd.read_excel(get_excel,'Payout breakup',skiprows=range(4))
    payout_breakup.insert(0,'Source_files',file,allow_duplicates=False)

    #df2=pd.payout_breakup(get_excel,'Order level',skiprows=range(6))
    summary=pd.read_excel(get_excel,'Summary')

    payout_breakup.insert(3,'Payout_Report_Period',summary.iloc[2]['Unnamed: 2'],allow_duplicates=False)
    payout_breakup.insert(1,'Res_id',summary.iloc[3]['Unnamed: 2'],allow_duplicates=False)
    payout_breakup.rename(columns={'Particular':'Particular' },inplace=True)

    payout_breakup.insert(2,'Res_Name',summary.iloc[6]['Unnamed: 2'],allow_duplicates=False)
    _2022_data=pd.concat([_2022_data,payout_breakup])
print(count)



#@title doroping colms
_2022_data.drop(columns=['Unnamed: 0','S.No.'],inplace=True)


#@title droping rows from 'Particular' which have nulls

_2022_data.dropna(axis='index',how='all',subset=['Particular' ,'Delivered Orders','Cancelled/ Rejected Orders','Total'],inplace=True)


#@title adding Particulars_alpa_serials
Particulars_alpa_serials= {'Number of Orders':'A1', 
       'Subtotal (items total)':'A2',
       'Packaging charge':'A3', 
       'Delivery charge':'A4',
       'Restaurant discount [Promo]':'A5',
       'Restaurant discount [Salt, Freebie, Pro & other discounts]':'A6',
       'Net bill value \n[(1) + (2) + (3) - (4) - (5)]':'A7',

       'Total GST collected from customers':'B1',
       'GST retained by Zomato - Amount of tax paid by Zomato under section 9(5)':'B2',
       'GST to be paid by Restaurant partner to Govt.':'B3',
       'Gross Sales\n[ (A) + (6) ]':'B4',

       'Commissionable amount   [(B) - (6) -(3)]':'D1', 
       'Commission value ':'D2',
       'Payment mechanism fee':'D3', 
       'Logistics charge':'D4',
       'Taxes on Zomato fees':'D5',
       'Tax collected at source + TCS IGST amount':'D6', 
       'TDS 194O amount':'D7',
       'Other Order level deductions':'D8',
        'Customer Compensation/Recoupment':'D9',
       'Delivery Charges Recovery':'D10',
       'Credit note/(Debit Note) adjustment':'D11',
       'Promo recovery adjustment':'D12',
       'Amount received in cash (on self delivery orders)':'D13',
       'Pay later Deductions & other Res id Level Deductions \n(Refer to Annexure : "Addition/ Deduction Details")':'D14',
       'Total Deductions \n[ (10)+(11)+(12)+(13)+(14)+(15)+(16)+(17)+(18) ]':'D15',

       'Cancellation Refund (Auto)':'E16',
       'TDS 194 H and other Res id level Additions\n(Refer to Annexure : "Addition/ Deduction Details")':'E17',
       'Total Additions \n[(19) + (20)]':'E18',

       'Net Payout \n[(B) - (C) + (D) - (7)]':'F19', 
       'Amount Settled':'F20',
       'Pending Amount (Will be credited on next pay-out day)':'F21'}

#Particulars_alpa_serials
_2022_data['serial_no']=_2022_data['Particular'].map(Particulars_alpa_serials)


_2022_data.fillna(0,inplace=True)

_2022_data.head(2)
# it worked (:

102

,Source_files,Res_id,Res_Name,Payout_Report_Period,Particular,Delivered Orders,Cancelled Orders,Total,Cancelled/ Rejected Orders,serial_no
1,Zomato_Settlement_Report_19462922_31 Oct 2022_...,19462922,Biryani Box,31 Oct 2022 - 06 Nov 2022,Number of Orders,104.0,0,104.0,0,A1
2,Zomato_Settlement_Report_19462922_31 Oct 2022_...,19462922,Biryani Box,31 Oct 2022 - 06 Nov 2022,Subtotal (items total),28419.0,0,28419.0,0,A2

In [32]:
data=pd.concat([_2022_data,_2023_data])
data.head(1)

,Source_files,Res_id,Res_Name,Payout_Report_Period,Particular,Delivered Orders,Cancelled Orders,Total,Cancelled/ Rejected Orders,serial_no,Unnamed: 6
1,Zomato_Settlement_Report_19462922_31 Oct 2022_...,19462922,Biryani Box,31 Oct 2022 - 06 Nov 2022,Number of Orders,104.0,0,104.0,0,A1,NaN

In [33]:
#@title go

zom_sales=data[data['Particular'].isin(['Net bill value \n[(1) + (2) + (3) - (4) - (5)]','TDS 194O amount','Cancellation Refund (Auto)',"Other Order level deductions",
"Customer Compensation/Recoupment",
"Delivery Charges Recovery",
"Credit note/(Debit Note) adjustment",
"Promo recovery adjustment",
"Extra Inventory Ads (Order Level Deduction)",
"Amount received in cash (on self delivery orders)",
])]

brand_code={"Biryani Hub"	:"HH",
            "Biryani Box"	:"BB",
            "Dilli Darbar"	:"DD",
            "Biryani Box"	:"BB",
            "Alpha Biryani"	:"AA",
            "Roj Ka Khana - Daily Meals"	:"RR",
            "Chinese Chaska"	:"CC",
            "Valluvan Cafe"	:"VV",
            "Mann Food Court"	:"MM",
            "Uruvalu Biryani"	:"UU",
            "MFC Juice & Cafe"	:"JJ",
            "Koolerz"	:"KK",
            "Grill Factory"	:"GG",
            "Dilli Chaat"	:"TT"}

zom_sales['Brand_code']=zom_sales['Res_Name'].map(brand_code)

l1=zom_sales['Payout_Report_Period'].str.split(" ",expand=True)[4]+zom_sales['Payout_Report_Period'].str.split(" ",expand=True)[5]+zom_sales['Payout_Report_Period'].str.split(" ",expand=True)[6].str.slice(start=2,stop=4)
l2=zom_sales['Payout_Report_Period'].str.split(" ",expand=True)[0]+zom_sales['Payout_Report_Period'].str.split(" ",expand=True)[1]
zom_sales['Invoice Number']='ZM'+zom_sales['Brand_code']+l2+l1


zom_sales['Invoice Date']=zom_sales['Payout_Report_Period'].str.split("-",expand=True)[1]



zom_sales['Particular'].replace('Net bill value \n[(1) + (2) + (3) - (4) - (5)]','Food Sales',inplace=True)

In [34]:
#@title go2

zom_sales["Customer Name"]	=	'Zomato'+" "+zom_sales['Res_Name']
zom_sales["Invoice Status"]	=	"Overdue"
zom_sales["GST Treatment"]	=	"Consumer"
zom_sales["Place of Supply"]	=	"KA"
zom_sales["Currency Code"]	=	"INR"
zom_sales["Exchange Rate"]	=	"1"
zom_sales["Account"]	=	"Sales"
zom_sales.rename(columns={'Particular':"Item Name"},inplace=True)
zom_sales["Item Type"]	=	"Goods"
zom_sales["Quantity"]	=	"1"
zom_sales["Usage unit"]	=	"Count"
zom_sales["Is Inclusive Tax"]	=	"Tax"
zom_sales["Item Tax"]	=	"GST5"
zom_sales["Item Tax Type"]	=	"Tax Group"
zom_sales["Item Tax %"]	=	"0%"
zom_sales["Supply Type"]	=	"Exempted"
zom_sales["Discount Type"]	=	"entity_level"
zom_sales["Adjustment"]	=	"Adjustment"
zom_sales.rename(columns={'Total':"Item Price"},inplace=True)

zom_sales["E-Commerce Operator Name"]	=	"ZOMATO PRIVATE LIMITED"
zom_sales["E-Commerce Operator GSTIN"]	=	"29ABNFM9601R1Z9"
zom_sales["TDS Name"]	=	"Rx-TDS on E-commerce Transactions"
zom_sales["TDS Percentage"]	=	"1"
zom_sales["TDS Section Code"]	=	"194O"
# zom_sales["TDS Amount"]	=	


# condition = (zom_sales['Item Name'] != 'Food Sales') & (zom_sales['Item Price'] != 0.0)
# zom_sales.loc[condition, 'Item Price'] = - zom_sales.loc[condition, 'Item Price']

item_price_negative=["Other Order level deductions","Customer Compensation/Recoupment","Delivery Charges Recovery","Credit note/(Debit Note) adjustment",
                     "Promo recovery adjustment",	"Extra Inventory Ads (Order Level Deduction)",	"Amount received in cash (on self delivery orders)"]

condition=zom_sales['Item Name'].isin(item_price_negative) & (zom_sales['Item Price'] != 0.0)
zom_sales.loc[condition, 'Item Price'] = - zom_sales.loc[condition, 'Item Price']


zom_sales.drop(columns=['Res_Name','Delivered Orders', 'Cancelled/ Rejected Orders', 'Brand_code','serial_no','Brand_code'],inplace=True)
mask = zom_sales['Item Name'] == 'TDS 194O amount'

# Assign the 'Item Price' values from rows where 'Item Name' is 'TDS' to the 'TDS Amount' column
zom_sales.loc[mask, 'TDS Amount'] = zom_sales.loc[mask, 'Item Price']


g={'Food Sales': 1,
 'Other Order level deductions': 2,
 'Customer Compensation/Recoupment': 3,
 'Delivery Charges Recovery': 4,
 'Credit note/(Debit Note) adjustment': 5,
 'Promo recovery adjustment': 6,
 'Extra Inventory Ads (Order Level Deduction)': 7,
 'Amount received in cash (on self delivery orders)': 8,
 'Cancellation Refund (Auto)': 9,
 'TDS 194O amount': 10}

zom_sales['Serail']=zom_sales['Item Name'].map(g)
zom_sales=zom_sales.sort_values('Serail',ascending=True)

# Replace 'NA' values with the corresponding non-NA values based on 'id'
zom_sales['TDS Amount'] = zom_sales.groupby('Source_files')['TDS Amount'].transform(lambda x: x.ffill().bfill())

zom_sales=zom_sales[~ (zom_sales['Item Name']=='TDS 194O amount')]

In [35]:
zom_sales.head(1)

,Source_files,Res_id,Payout_Report_Period,Item Name,Cancelled Orders,Item Price,Unnamed: 6,Invoice Number,Invoice Date,Customer Name,...,Supply Type,Discount Type,Adjustment,E-Commerce Operator Name,E-Commerce Operator GSTIN,TDS Name,TDS Percentage,TDS Section Code,TDS Amount,Serail
7,Zomato_Settlement_Report_19462922_31 Oct 2022_...,19462922,31 Oct 2022 - 06 Nov 2022,Food Sales,0,17770.44,NaN,ZMBB31Oct06Nov22,06 Nov 2022,Zomato Biryani Box,...,Exempted,entity_level,Adjustment,ZOMATO PRIVATE LIMITED,29ABNFM9601R1Z9,Rx-TDS on E-commerce Transactions,1,194O,177.65,1

In [ ]:
import gspread_dataframe as gd

wc=gc.open_by_key('13yBVsGXL_p1p2Yi5HXvav8DU7z5jYHWRb3ch-4LCWko')
wx=wc.worksheet('Sheet10')

#gd.set_with_dataframe(wx,zom_sales)

## Old Format

In [20]:
#@title Main Code


path='/content/drive/MyDrive/01_Sales_Reports/C_Zomato/2022/Old_Format'


count2=0
_2022_old_format_main_data=pd.DataFrame()

for root, dirs, files in os.walk(path):
    for file in files:
        if file.endswith(".csv"):
            file_path = os.path.join(root, file)
            get_excel = pd.read_csv(file_path)
            count2 += 1
            get_excel.insert(0, 'Source file', os.path.basename(file), allow_duplicates=False)
            _2022_old_format_main_data = pd.concat([_2022_old_format_main_data, get_excel])



# _2022_old_format_main_data.drop(columns=['S.no.','Mode of payment','Order type','Delivery State','Ice cream deductions - Hyperpure (INR)','Ice cream handling charge (INR)',
# 'Settlement status','Settlement date', 'Bank UTR', 'Customer ID','Extra Inventory Ads (INR)'],inplace=True)


# _2022_old_format_main_data['Order_date']=pd.to_datetime(_2022_old_format_main_data['Order Date'].str.split(' ',expand=True)[0])


# _2022_old_format_main_data['Month']=_2022_old_format_main_data['Order_date'].dt.month_name().str.slice(stop=3)
# _2022_old_format_main_data['Year']=_2022_old_format_main_data['Order_date'].dt.year


# _2022_old_format_main_data['Month_Year']=_2022_old_format_main_data['Month'].astype(str)+" "+_2022_old_format_main_data['Year'].astype(str)

print('Total Files - ',count2)

Total Files -  260

In [21]:
_2022_old_format=_2022_old_format_main_data

_2022_old_format[['Customer Compensation (INR)', 'Cancellation Refund (INR)',
                  'TDS 194O amount (INR)', 'Amount received in cash (INR)',
                  'Credit note adjustment (INR)', 'Promo recovery adjustment (INR)',
                  'Support cost adjustment (INR)', 'Total adjustment (INR)',
                  'Net bill value (INR)']]=_2022_old_format[['Customer Compensation (INR)', 'Cancellation Refund (INR)',
                  'TDS 194O amount (INR)', 'Amount received in cash (INR)',
                  'Credit note adjustment (INR)', 'Promo recovery adjustment (INR)',
                  'Support cost adjustment (INR)', 'Total adjustment (INR)',
                  'Net bill value (INR)']].astype(float)

In [22]:
#@title droping not needed colmns
_2022_old_format.drop(columns=["Order ID","Customer ID","Mode of payment",'S.no.','Gross revenue (INR)','Customer discount amount (INR)',
                               'Services tax (INR)','Total consumer tax (INR)',
                               'TDS 194H amount (INR)','Piggybank (INR)','Penalty Amount (INR)',
                                "Order status",
                                "Order type",
                                "Delivery State",
                                "Subtotal (INR)",
                                "Packaging charge (INR)",
                                "Merchant delivery charge (INR)",
                                "Merchant discount (INR)",
                                "Total GST collected from users (INR)",
                                "GST retained by Zomato - Amount of tax paid by Zomato under section 9(5) (INR)",
                                "Gross sales (INR)",
                                "Total merchant (INR)",
                                "Pro discount share (INR)",
                                "Commissionable amount (INR)",
                                "Commission %",
                                "Commission value (INR)",
                                "Convenience fee (INR)",
                                "Logistics charge (INR)",
                                "Credits Charge (INR)",
                                "Applicable amount for TCS (INR)",
                                "Applicable amount for 9(5) (INR)",
                                "Taxes on Zomato fees (INR)",
                                "Tax collected at source (INR)",
                                "TCS IGST amount (INR)",
                                "Ice cream deductions - Hyperpure (INR)",
                                "Ice cream handling charge (INR)",
                                "Net receivable (INR)",
                                "Settlement status",
                                "Settlement date",
                                "Bank UTR"],inplace=True)

In [23]:
_2022_old_format.head(2)

,Source file,Order Date,Res. name,Res. ID,Customer Compensation (INR),Cancellation Refund (INR),TDS 194O amount (INR),Amount received in cash (INR),Credit note adjustment (INR),Promo recovery adjustment (INR),Support cost adjustment (INR),Total adjustment (INR),Net bill value (INR)
0,account_statement_week_15_19624944.csv,2022-04-12 20:44:12,Uruvalu Biryani,19624944,0.0,0.0,2.04,0.0,0.0,0.0,0.0,0.0,NaN
1,account_statement_week_15_19624944.csv,2022-04-17 14:29:38,Uruvalu Biryani,19624944,0.0,0.0,4.34,0.0,0.0,0.0,0.0,0.0,NaN

In [24]:
#@title Payout peirods
_2022_old_format['Payout period Week']=_2022_old_format['Source file'].str.split("_",expand=True)[2]+'-'+_2022_old_format['Source file'].str.split("_",expand=True)[3]

payout_periods={"week-01":	"03 Jan 2022 - 09 Jan 2022",
                "week-02":	"10 Jan 2022 - 16 Jan 2022",
                "week-03":	"17 Jan 2022 - 23 Jan 2022",
                "week-04":	"24 Jan 2022 - 30 Jan 2022",
                "week-05":	"31 Jan 2022 - 06 Feb 2022",
                "week-06":	"07 Feb 2022 - 13 Feb 2022",
                "week-07":	"14 Feb 2022 - 20 Feb 2022",
                "week-08":	"21 Feb 2022 - 27 Feb 2022",
                "week-09":	"28 Feb 2022 - 06 Mar 2022",
                "week-10":	"07 Mar 2022 - 13 Mar 2022",
                "week-11":	"14 Mar 2022 - 20 Mar 2022",
                "week-12":	"21 Mar 2022 - 27 Mar 2022",
                "week-13":	"28 Mar 2022 - 03 Apr 2022",
                "week-14":	"04 Apr 2022 - 10 Apr 2022",
                "week-15":	"11 Apr 2022 - 17 Apr 2022",
                "week-16":	"18 Apr 2022 - 24 Apr 2022",
                "week-17":	"25 Apr 2022 - 01 May 2022",
                "week-18":	"02 May 2022 - 08 May 2022",
                "week-19":	"09 May 2022 - 15 May 2022",
                "week-20":	"16 May 2022 - 22 May 2022",
                "week-21":	"23 May 2022 - 29 May 2022",
                "week-22":	"30 May 2022 - 05 Jun 2022",
                "week-23":	"06 Jun 2022 - 12 Jun 2022",
                "week-24":	"13 Jun 2022 - 19 Jun 2022",
                "week-25":	"20 Jun 2022 - 26 Jun 2022",
                "week-26":	"27 Jun 2022 - 03 Jul 2022",
                "week-27":	"04 Jul 2022 - 10 Jul 2022",
                "week-28":	"11 Jul 2022 - 17 Jul 2022",
                "week-29":	"18 Jul 2022 - 24 Jul 2022",
                "week-30":	"25 Jul 2022 - 31 Jul 2022",
                "week-31":	"01 Aug 2022 - 07 Aug 2022",
                "week-32":	"08 Aug 2022 - 14 Aug 2022",
                "week-33":	"15 Aug 2022 - 21 Aug 2022",
                "week-34":	"22 Aug 2022 - 28 Aug 2022",
                "week-35":	"29 Aug 2022 - 04 Sep 2022",
                "week-36":	"05 Sep 2022 - 11 Sep 2022",
                "week-37":	"12 Sep 2022 - 18 Sep 2022",
                "week-38":	"19 Sep 2022 - 25 Sep 2022",
                "week-39":	"26 Sep 2022 - 02 Oct 2022",
                "week-40":	"03 Oct 2022 - 09 Oct 2022",
                "week-41":	"10 Oct 2022 - 16 Oct 2022",
                "week-42":	"17 Oct 2022 - 23 Oct 2022",
                "week-43":	"24 Oct 2022 - 30 Oct 2022",
                "week-44":	"31 Oct 2022 - 06 Nov 2022",
                "week-45":	"07 Nov 2022 - 13 Nov 2022",
                "week-46":	"14 Nov 2022 - 20 Nov 2022",
                "week-47":	"21 Nov 2022 - 27 Nov 2022",
                "week-48":	"28 Nov 2022 - 04 Dec 2022",
                "week-49":	"05 Dec 2022 - 11 Dec 2022",
                "week-50":	"12 Dec 2022 - 18 Dec 2022",
                "week-51":	"19 Dec 2022 - 25 Dec 2022",
                "week-52":	"26 Dec 2022 - 01 Jan 2023"}

_2022_old_format['Payout period']=_2022_old_format['Payout period Week'].map(payout_periods)

In [13]:
_2022_old_format.head(2)

,Source file,Order Date,Res. name,Res. ID,Customer Compensation (INR),Cancellation Refund (INR),TDS 194O amount (INR),Amount received in cash (INR),Credit note adjustment (INR),Promo recovery adjustment (INR),Support cost adjustment (INR),Total adjustment (INR),Net bill value (INR),Payout period Week,Payout period
0,account_statement_week_15_19624944.csv,2022-04-12 20:44:12,Uruvalu Biryani,19624944,0.0,0.0,2.04,0.0,0.0,0.0,0.0,0.0,NaN,week-15,11 Apr 2022 - 17 Apr 2022
1,account_statement_week_15_19624944.csv,2022-04-17 14:29:38,Uruvalu Biryani,19624944,0.0,0.0,4.34,0.0,0.0,0.0,0.0,0.0,NaN,week-15,11 Apr 2022 - 17 Apr 2022

  def melt(frame: DataFrame, id_vars=None, value_vars=None, var_name=None, value_name='value', col_level=None, ignore_index: bool=True) -> DataFrame

In [25]:
new=_2022_old_format.groupby(['Source file','Payout period','Res. name'])[['Customer Compensation (INR)', 'Cancellation Refund (INR)', 'TDS 194O amount (INR)', 'Amount received in cash (INR)', 'Credit note adjustment (INR)', 'Promo recovery adjustment (INR)', 'Support cost adjustment (INR)', 'Total adjustment (INR)', 'Net bill value (INR)']].sum()

new=pd.DataFrame(new)
new=new.reset_index()
new

df_long = pd.melt(new, id_vars=['Source file','Payout period','Res. name'], value_vars=['Customer Compensation (INR)', 'Cancellation Refund (INR)', 'TDS 194O amount (INR)', 'Amount received in cash (INR)', 'Credit note adjustment (INR)', 'Promo recovery adjustment (INR)', 'Support cost adjustment (INR)', 'Total adjustment (INR)', 'Net bill value (INR)'])
df_long=pd.DataFrame(df_long)
df_long

,Source file,Payout period,Res. name,variable,value
0,account_statement_week_01_18387409.csv,03 Jan 2022 - 09 Jan 2022,Dilli Darbar,Customer Compensation (INR),89.99
1,account_statement_week_01_18562485.csv,03 Jan 2022 - 09 Jan 2022,Chinese Chaska,Customer Compensation (INR),0.00
2,account_statement_week_01_19156649.csv,03 Jan 2022 - 09 Jan 2022,Biryani Box,Customer Compensation (INR),0.00
3,account_statement_week_01_19160468.csv,03 Jan 2022 - 09 Jan 2022,Roj Ka Khana - Daily Meals,Customer Compensation (INR),0.00
4,account_statement_week_01_19461358.csv,03 Jan 2022 - 09 Jan 2022,Dilli Darbar,Customer Compensation (INR),0.00
...,...,...,...,...,...
2335,account_statement_week_42_18562485.csv,17 Oct 2022 - 23 Oct 2022,Chinese Chaska,Net bill value (INR),14522.90
2336,account_statement_week_42_19160468.csv,17 Oct 2022 - 23 Oct 2022,Roj Ka Khana - Daily Meals,Net bill value (INR),26426.40
2337,account_statement_week_42_19461401.csv,17 Oct 2022 - 23 Oct 2022,Alpha Biryani,Net bill value (INR),15918.00
2338,account_statement_week_42_19524149.csv,17 Oct 2022 - 23 Oct 2022,Valluvan Cafe,Net bill value (INR),4800.40
2339,account_statement_week_42_19624944.csv,17 Oct 2022 - 23 Oct 2022,Uruvalu Biryani,Net bill value (INR),13366.60

In [26]:
#@title go

zom_sales1=df_long

brand_code={"Biryani Hub"	:"HH",
            "Biryani Box"	:"BB",
            "Dilli Darbar"	:"DD",
            "Biryani Box"	:"BB",
            "Alpha Biryani"	:"AA",
            "Roj Ka Khana - Daily Meals"	:"RR",
            "Roj Ka Khana":"RR",
            "Chinese Chaska"	:"CC",
            "Valluvan Cafe"	:"VV",
            "Mann Food Court"	:"MM",
            "Uruvalu Biryani"	:"UU",
            "MFC Juice & Cafe"	:"JJ",
            "Koolerz"	:"KK",
            "Grill Factory"	:"GG",
            "Dilli Chaat"	:"TT"}

zom_sales1['Brand_code']=zom_sales1['Res. name'].map(brand_code)

l1=zom_sales1['Payout period'].str.split(" ",expand=True)[4]+zom_sales1['Payout period'].str.split(" ",expand=True)[5]+zom_sales1['Payout period'].str.split(" ",expand=True)[6].str.slice(start=2,stop=4)
l2=zom_sales1['Payout period'].str.split(" ",expand=True)[0]+zom_sales1['Payout period'].str.split(" ",expand=True)[1]
zom_sales1['Invoice Number']='ZM'+zom_sales1['Brand_code']+l2+l1


zom_sales1['Invoice Date']=zom_sales1['Payout period'].str.split("-",expand=True)[1]



zom_sales1['variable'].replace('Net bill value (INR)','Food Sales',inplace=True)

In [ ]:
zom_sales1.head(2)

,Source file,Payout period,Res. name,variable,value,Brand_code,Invoice Number,Invoice Date
0,account_statement_week_01_18387409.csv,03 Jan 2022 - 09 Jan 2022,Dilli Darbar,Customer Compensation (INR),89.99,DD,ZMDD03Jan09Jan22,09 Jan 2022
1,account_statement_week_01_18562485.csv,03 Jan 2022 - 09 Jan 2022,Chinese Chaska,Customer Compensation (INR),0.00,CC,ZMCC03Jan09Jan22,09 Jan 2022

In [27]:
#@title go2

zom_sales1["Customer Name"]	=	'Zomato'+" "+zom_sales1['Res. name']
zom_sales1["Invoice Status"]	=	"Overdue"
zom_sales1["GST Treatment"]	=	"Consumer"
zom_sales1["Place of Supply"]	=	"KA"
zom_sales1["Currency Code"]	=	"INR"
zom_sales1["Exchange Rate"]	=	"1"
zom_sales1["Account"]	=	"Sales"
zom_sales1.rename(columns={'variable':"Item Name"},inplace=True)
zom_sales1["Item Type"]	=	"Goods"
zom_sales1["Quantity"]	=	"1"
zom_sales1["Usage unit"]	=	"Count"
zom_sales1["Is Inclusive Tax"]	=	"Tax"
zom_sales1["Item Tax"]	=	"GST5"
zom_sales1["Item Tax Type"]	=	"Tax Group"
zom_sales1["Item Tax %"]	=	"0%"
zom_sales1["Supply Type"]	=	"Exempted"
zom_sales1["Discount Type"]	=	"entity_level"
zom_sales1["Adjustment"]	=	"Adjustment"
zom_sales1.rename(columns={'value':"Item Price"},inplace=True)

zom_sales1["E-Commerce Operator Name"]	=	"ZOMATO PRIVATE LIMITED"
zom_sales1["E-Commerce Operator GSTIN"]	=	"29ABNFM9601R1Z9"
zom_sales1["TDS Name"]	=	"Rx-TDS on E-commerce Transactions"
zom_sales1["TDS Percentage"]	=	"1"
zom_sales1["TDS Section Code"]	=	"194O"


item_price_negative=["Total adjustment (INR)","Support cost adjustment (INR)","Support cost adjustment (INR)","Promo recovery adjustment (INR)",
                     "Credit note adjustment (INR)",	"Amount received in cash (INR)",	"Customer Compensation (INR)"]

condition=zom_sales1['Item Name'].isin(item_price_negative) & (zom_sales1['Item Price'] != 0.0)
zom_sales1.loc[condition, 'Item Price'] = - zom_sales1.loc[condition, 'Item Price']


zom_sales1.drop(columns=['Res. name','Brand_code'],inplace=True)
mask = zom_sales1['Item Name'] == 'TDS 194O amount (INR)'

# Assign the 'Item Price' values from rows where 'Item Name' is 'TDS' to the 'TDS Amount' column
zom_sales1.loc[mask, 'TDS Amount'] = zom_sales1.loc[mask, 'Item Price']


g={'Food Sales': 1,
 'Total adjustment (INR)': 2,
 'Support cost adjustment (INR)': 3,
 'Promo recovery adjustment (INR)': 4,
 'Credit note adjustment (INR)': 5,
 'Amount received in cash (INR)': 6,
 'Cancellation Refund (INR)': 7,
 'Customer Compensation (INR)': 8,
 'TDS 194O amount (INR)': 9}

zom_sales1['Serail']=zom_sales1['Item Name'].map(g)
zom_sales1=zom_sales1.sort_values('Serail',ascending=True)

# Replace 'NA' values with the corresponding non-NA values based on 'id'
zom_sales1['TDS Amount'] = zom_sales1.groupby('Source file')['TDS Amount'].transform(lambda x: x.ffill().bfill())

zom_sales1=zom_sales1[~ (zom_sales1['Item Name']=='TDS 194O amount (INR)')]

In [28]:
zom_sales1.head(1)

,Source file,Payout period,Item Name,Item Price,Invoice Number,Invoice Date,Customer Name,Invoice Status,GST Treatment,Place of Supply,...,Supply Type,Discount Type,Adjustment,E-Commerce Operator Name,E-Commerce Operator GSTIN,TDS Name,TDS Percentage,TDS Section Code,TDS Amount,Serail
2339,account_statement_week_42_19624944.csv,17 Oct 2022 - 23 Oct 2022,Food Sales,13366.6,ZMUU17Oct23Oct22,23 Oct 2022,Zomato Uruvalu Biryani,Overdue,Consumer,KA,...,Exempted,entity_level,Adjustment,ZOMATO PRIVATE LIMITED,29ABNFM9601R1Z9,Rx-TDS on E-commerce Transactions,1,194O,133.66,1

In [36]:
zom_sales1.rename(columns={'Source file':'Source_files','Payout period':'Payout_Report_Period'},inplace=True)

In [80]:
Final_data=pd.concat([zom_sales,zom_sales1])
Final_data.head(1)

,Source_files,Res_id,Payout_Report_Period,Item Name,Cancelled Orders,Item Price,Unnamed: 6,Invoice Number,Invoice Date,Customer Name,...,Supply Type,Discount Type,Adjustment,E-Commerce Operator Name,E-Commerce Operator GSTIN,TDS Name,TDS Percentage,TDS Section Code,TDS Amount,Serail
7,Zomato_Settlement_Report_19462922_31 Oct 2022_...,19462922,31 Oct 2022 - 06 Nov 2022,Food Sales,0,17770.44,NaN,ZMBB31Oct06Nov22,06 Nov 2022,Zomato Biryani Box,...,Exempted,entity_level,Adjustment,ZOMATO PRIVATE LIMITED,29ABNFM9601R1Z9,Rx-TDS on E-commerce Transactions,1,194O,177.65,1

In [81]:
Final_data['Payout_Report_Period Start']=Final_data['Payout_Report_Period'].str.split("-",expand=True)[0]

Final_data['Payout_Report_Period Start']=Final_data['Payout_Report_Period Start'].str.strip()
Final_data['Payout_Report_Period Start']=pd.to_datetime(Final_data['Payout_Report_Period Start'],format='%d %b %Y')
Final_data['Payout_Report_Period Start'].sort_values(ascending=True)
Final_data.head()

,Source_files,Res_id,Payout_Report_Period,Item Name,Cancelled Orders,Item Price,Unnamed: 6,Invoice Number,Invoice Date,Customer Name,...,Discount Type,Adjustment,E-Commerce Operator Name,E-Commerce Operator GSTIN,TDS Name,TDS Percentage,TDS Section Code,TDS Amount,Serail,Payout_Report_Period Start
7,Zomato_Settlement_Report_19462922_31 Oct 2022_...,19462922,31 Oct 2022 - 06 Nov 2022,Food Sales,0,17770.44,NaN,ZMBB31Oct06Nov22,06 Nov 2022,Zomato Biryani Box,...,entity_level,Adjustment,ZOMATO PRIVATE LIMITED,29ABNFM9601R1Z9,Rx-TDS on E-commerce Transactions,1,194O,177.65,1,2022-10-31
7,Zomato_Settlement_Report_19624944_02 Jan 2023_...,19624944,02 Jan 2023 - 08 Jan 2023,Food Sales,NaN,5009.10,0.0,ZMUU02Jan08Jan23,08 Jan 2023,Zomato Uruvalu Biryani,...,entity_level,Adjustment,ZOMATO PRIVATE LIMITED,29ABNFM9601R1Z9,Rx-TDS on E-commerce Transactions,1,194O,50.09,1,2023-01-02
7,Zomato_Settlement_Report_19624944_09 Jan 2023_...,19624944,09 Jan 2023 - 15 Jan 2023,Food Sales,NaN,4630.60,0.0,ZMUU09Jan15Jan23,15 Jan 2023,Zomato Uruvalu Biryani,...,entity_level,Adjustment,ZOMATO PRIVATE LIMITED,29ABNFM9601R1Z9,Rx-TDS on E-commerce Transactions,1,194O,46.30,1,2023-01-09
7,Zomato_Settlement_Report_19624944_16 Jan 2023_...,19624944,16 Jan 2023 - 22 Jan 2023,Food Sales,NaN,4910.70,0.0,ZMUU16Jan22Jan23,22 Jan 2023,Zomato Uruvalu Biryani,...,entity_level,Adjustment,ZOMATO PRIVATE LIMITED,29ABNFM9601R1Z9,Rx-TDS on E-commerce Transactions,1,194O,49.10,1,2023-01-16
7,Zomato_Settlement_Report_19160468_24 Apr 2023_...,19160468,24 Apr 2023 - 30 Apr 2023,Food Sales,NaN,125409.02,0.0,ZMRR24Apr30Apr23,30 Apr 2023,Zomato Roj Ka Khana - Daily Meals,...,entity_level,Adjustment,ZOMATO PRIVATE LIMITED,29ABNFM9601R1Z9,Rx-TDS on E-commerce Transactions,1,194O,1254.23,1,2023-04-24

In [82]:
not_needed_periods=["03 Jan 2022 - 09 Jan 2022",
                    "10 Jan 2022 - 16 Jan 2022",
                    "24 Jan 2022 - 30 Jan 2022",
                    "31 Jan 2022 - 06 Feb 2022",
                    "14 Feb 2022 - 20 Feb 2022",
                    "21 Feb 2022 - 27 Feb 2022",
                    "21 Mar 2022 - 27 Mar 2022",
                    "01 May 2023 - 07 May 2023",
                    "08 May 2023 - 14 May 2023",
                    "15 May 2023 - 21 May 2023"]

Final_data=Final_data[~ (Final_data['Payout_Report_Period'].isin(not_needed_periods))]

In [83]:
Final_data.to_excel('data3.xlsx',index=False)